@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    @font-face {
        font-family: 'calibri';
        src: url("/Calibri.ttf");
    }
}

@layer components {
    .dropdown-menu {
        @apply absolute left-0 mt-2 w-[213px] rounded-[5px] border border-[#006991] bg-[#F2F2F2] z-50 opacity-100 transform -translate-y-8  transition-transform duration-300 ease-in-out;
    }

    .relative:hover .dropdown-menu {
        @apply opacity-100 translate-y-0;
    }

    .dropdown-item {
        @apply px-2 py-2.5 m-2 hover:bg-cyan-500 rounded-[10px] flex items-center text-[#006991] text-base font-bold leading-5;
    }
}
