@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@layer base {
    @font-face {
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/Calibri.ttf) format('.ttf');
    }
}

@layer base {
    @font-face {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;

        src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    }
}

@layer components {

    .dropdown-item {
        @apply px-2 py-2 w-full hover:bg-[#f2f2f2] flex items-center text-[#006991] text-base font-calibri font-bold leading-5;
    }
}